/*
Colours used:
Ivory: #FFFDFF or rgb(255, 253, 255)
Black: #000000 or rgb(0, 0, 0)
Very Light Grey: #CECBCB or rgb(206, 203, 203)
Zumthor: #CBDADB or rgb(203, 218, 219)
Vanilla Ice: #E3C9C9 or rgb(227, 201, 201)
Whisper: #F4E7E7 or rgb(244, 231, 231)
Soft Peach: #EEDBDB or rgb(238, 219, 219)

Fonts used:
font-family: 'Adamina', serif; (body) R400
font-family: 'Playfair Display', serif; (sub-headings) R400 B700
font-family: 'Roboto Condensed', sans-serif; (heading) L300 R400 B700
*/

.container{
    padding: 0 15px;
    padding-right: 50px;
}
.row {
  margin: 25px 0;
}
header {
  text-align: left;
  padding: 2px 0;
  display: inline-block;
  position: fixed;
  width: 100%;
  transform: rotate(90deg) translate(100%, 0);
  transform-origin: right top;
}
header .container {
  width: 100vh;
}
.logo{
  height: 42px;
  width: 150px;
  max-width: 150px;
  vertical-align: middle;
}
nav > ul {
  list-style-type: none;
  padding: 0px;
  display: inline-block;
}
nav > ul > li {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
.hello{
  height: 80px;
  width: 80px;
}
.ctphoto{
  height: 405px;
  width: 335px;
}
#hero h1 {
  font-size: 40px;
}
#hero p {
  height: 150px;
  width: 340px;
  text-align: left;
  font-size: 20px;
}
body {
  font-family: 'Adamina', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
}
.background {
    background-image: url(https://i.imgur.com/KKJ3Nj2.jpg2);
    background-position: 50% 6%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
h1, h2, h3{
    line-height: 1.4;
}
h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3.052em;
  font-weight: 400;
}
h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.441em;
  font-weight: 400;
}
h3{
  font-family: 'Playfair Display', serif;
  font-size: 1.953em;
  font-weight: 400;
}
.berlin-illustration{
  width: 100%;
  max-width: 100%;
  height: auto;
}
@keyframes color-change {
  0% {fill: rgb(237, 198, 85);}
  50% {fill: rgb(252, 255, 173);}
  100% {fill: rgb(247, 100, 20);}
}
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s;
  animation-name: cloud-move-reverse;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}
#about-page p {
  text-align: left;
  padding: 0 15px;
}
#about-page li {
  text-align: left;
}
#about-page h3 {
  text-align: left;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
a {
  color: rgb(0, 0, 0);
  text-decoration: none; /* No underlining */
}
a:visited {
  color: rgb(0, 0, 0);
}
a:hover,
a:focus {
  color: rgb(113, 154, 157);
  text-decoration: overline;
}
a:active { /* selected link */
  color: rgb(113, 154, 157);
}
.icons {
  height: 60px;
  width: 60px;
  padding: 15px;
}
img {
  width: 100%;
}
.button {
  display: inline-block;
  background-color: rgb(227, 201, 201);
  color: rgb(0, 0, 0); /* needed to override the default link color */
  font-weight: 400;
  padding: 15px;
  border-radius: 10px;
  border-bottom: 4px solid rgb(244, 231, 231); /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:visited {
  color: rgb(0, 0, 0);
}
.button:hover,
.button:focus {
  opacity: 0.7; /* Reduces the opacity of the button to 70% */
  color: rgb(188, 160, 158);
  text-decoration: none;
}
.button:active {
  background-color: rgb(227, 201, 201);
  color: rgb(0, 0, 0);
  padding: 15px;
  border-radius: 10px;
  border-bottom: 4px solid rgb(244, 231, 231);
  transition: 0.2s opacity;
  opacity: 0.7;
}
[class*="col-"] {
float: left;
padding: 20px;
}
.center {
  text-align: center;
}
footer {
    background-color: rgb(203, 218, 219, 0.6);
    display: inline-block;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}
.footernote{
  height: 47px;
  width: 250px;
}
#contact {
  vertical-align: middle;
}
#contact p {
  font-family: 'Playfair Display', serif;
  opacity: 60%;
  float: right;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 60px;
  top: 90%;
  left: 50%;
  margin-left: -30px;
  font-family: 'Roboto Condensed', sans-serif;
  font-variant: small-caps;
  font-weight: 300;
  font-size: 12px;
  background-color: rgb(244, 231, 231);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}
.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the btop of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(244, 231, 231) transparent transparent transparent;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  .col-md-6 {
  width: 50%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#work h3 {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
  .aboutct {
    float: right;
    }
    #hero p {
      height: 150px;
      width: 400px;
      padding-bottom: 0px;
    }
    .ctphoto2{
      max-width: 600px;
    }
    #about-page p {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .container{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
}
