/*
Colours used:
Ivory: #FFFDFF
Black: #000000
Very Light Grey: #CECBCB
Zumthor: #CBDADB
Vanilla Ice: #E3C9C9
Whisper: #F4E7E7
Soft Peach: #EEDBDB

Fonts used:
font-family: 'Adamina', serif; (body)
font-family: 'Playfair Display', serif; (sub-headings)
font-family: 'Roboto Condensed', sans-serif; (heading)
*/
